<div class="swapi-container">
  <div class="ui segment">
    <h2 class="ui header swapi-h2">Welcome to {{ title }}</h2>
    <div class="ui clearing divider"></div>
    <div *ngIf="loading; else characterList">
      <div class="ui segment swapi-loader">
        <div class="ui active dimmer">
          <div class="ui text loader">Loading</div>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</div>

<ng-template #characterList>
  <app-character-list [items]="items"></app-character-list>
</ng-template>
