<div class="swapi-container">
  <div class="ui mini yellow message">
    You can filter by name, birth year
  </div>

  <div class="ui left icon input swapi-input-box">
    <input type="text" [value]="filterText" [placeholder]="filterPlaceholder" [formControl]="filterInput" />
    <i class="users icon"></i>
  </div>

  <div class="swapi-list">
    <div *ngFor="let item of items | filter:{ name: filterText, birth_year: filterText }"
         (click)="onItemClick(item)"
         class="ui link list">
      <a class="item">{{ item.name }} <div class="ui mini label swapi-label">{{ item.birth_year }}</div></a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
