<div class="swapi-container">
  <div class="ui mini yellow message">
    You can filter by name, birth year
  </div>

  <app-filter (notifyFilter)="onNotifyFilter($event)"></app-filter>

  <div class="swapi-list">
    <div *ngFor="let item of items | filter:{ name: filterText, birth_year: filterText }"
         (click)="onItemClick(item)" [ngClass]="{'isActive': item.active}"
         class="ui link list">
      <a class="item">{{ item.name }} <div class="ui mini label swapi-label">{{ item.birth_year }}</div></a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
