<div *ngIf="info" class="ui inverted segment swapi-details">
  <div class="ui inverted relaxed divided list">
    <div class="item">
      <div class="content">
        <div class="header">Name</div>
        {{ info.name }}
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">Birth year</div>
        {{ info.birth_year }}
      </div>
    </div>

    <div *ngIf="info.films.length" class="item">
      <div class="content">
        <div class="header">Films</div>
        <ul>
          <li *ngFor="let item of info.films">
            <a href="{{ item }}" target="_blank">{{ item }}</a>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="info.starships.length" class="item">
      <div class="content">
        <div class="header">Starships</div>
          <ul>
            <li *ngFor="let item of info.starships">
              <a href="{{ item }}" target="_blank">{{ item }}</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
